@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --color-mclaren: #ff8000;
}

/* Link home navbar */
.box-link-main{
  @apply flex-1 lg:flex-row flex lg:justify-start justify-center;
}