@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --color-mclaren: #ff8000;
}

/* Link home navbar */
.box-link-main{
  @apply flex-1 lg:flex-row flex lg:justify-start justify-center;
}

/* Header */
.header-box{
  @apply flex justify-center lg:h-full h-[35%] items-center;
}

.title-header{
  @apply lg:text-5xl md:text-3xl text-xl text-center uppercase;
}

.img-header{
  @apply lg:w-40 md:w-18 w-10
}

/* Descrizione campione */
.title-champ-desc{
  @apply text-center lg:text-4xl text-2xl md:text-3xl;
}

.desc-box{
  @apply mt-5 lg:text-2xl text-lg md:text-xl;
}

.desc{
  @apply text-center lg:text-left;
}